# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
www/
loader/
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
.stencil/
.sass-cache/
.versions/
npm-debug.log
yarn-error.log
testem.log
debug.log
/typings
.env

# System Files
.DS_Store
Thumbs.db

# nyc
.nyc_output
coverage
node_modules
test/build/
.self_coverage
self-coverage/
*.swp
needs-transpile.js